/* .task-item {
    display: flex;
    flex-direction: row;
} */

.tittle-calendar{
    text-align: center;
    color:rgb(231, 158, 23);
    text-decoration: overline underline;
    text-decoration-color:  rgb(231, 158, 23);
        
}

.submit-task-button {
    border: none;
        background-color: white;
        padding: 5px;
        margin: 0.3rem 0;
        border-radius: 5px;
        cursor: pointer;
        color: #ee6b24;
      }

.add-task-close-button{
    text-align: right;
}
      