/* .task-item {
    display: flex;
    flex-direction: row;
} */

.tittle-calendar{
    text-align: center;
    color:rgb(231, 158, 23);
    text-decoration: overline underline;
    text-decoration-color:  rgb(231, 158, 23);
        
}

