
.title{
  text-align: center;
  color:rgb(231, 158, 23);
  text-decoration: overline underline;
  text-decoration-color:  rgb(231, 158, 23);
  ; 
}

.urgency-1 {
    background-color: rgb(109, 246, 91);
  }

  .urgency-2 {
    background-color: rgb(58, 244, 210);
  }
  
  .urgency-3 {
    background-color: rgb(236, 221, 124);
  }
  .urgency-4 {
    background-color: rgb(234, 165, 226);
  }


  /* .today-task {
    background-color:  #f0ebe9eb;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    
  } */

 