.visual-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
   
}

.visual-container, body{
    background-color: rgb(238, 244, 239);

}